body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  color: #fff;
  background-color: #323333;
}
#header-nav{                       /*the rectangular navbar*/
	border-radius: 0;
	border: 0;
  background-color: #EDF2F2;
  }

h1>div{                              /* I am Rakshit */
  font-family: 'Lora',serif;
  color: #373737;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight:  bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .75;
  margin-top: 20px;
}
div>h1{                               /* Hi there!!! */
margin-top: 10px;
color:#373737;
}
#nav-list{                    /* About, projects, award, resume, contact (full block) */
  margin-top: 58px;
}
#nav-list a{                          /* The link for eg. about, project */
  color: #000;
  text-align: center;
}
#nav-list a:hover{
  background: #e7e7e7;
}
#nav-list a span{                    /*icon font*/
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{      /*Border of teh collapsable button*/
  border: 1px solid #373737;
}
.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -65px;
}


@media (min-width: 1200px) {
  #relative{                            /*the switch button*/
position: relative;
left:100%;
top: -28px;
width: 4vw;
height: 4vw;
}
#logo-img{
   background: url('../images/original4black.jpg') no-repeat;
   width: 150px;
   height: 150px;
   margin: 0;
}
}
@media (min-width: 992px) and (max-width: 1199px){
   #relative{
position: relative;
left:100%;
top: -26px;
width: 4vw;
height: 4vw;
}
#logo-img{
   background: url('../images/original4black.jpg') no-repeat;
   width: 150px;
   height: 150px;
   margin: 0;
}
}
@media (min-width: 768px) and (max-width: 991px){
#nav-list a span{                                   /*icon font*/
  font-size: 1em;
  margin-right: 0px;
} 
div>h1{
margin-top: 16px;
color:#373737;
font-size: 1.2em;
}
#nav-list a{
  font-size: .9em;
  margin-right: -15px;
  margin-top: -16px;
}
#logo-img{
  width: 150px;
   height: 125px;
   margin: 0;
   background: url('../images/original5black.jpg') no-repeat;
}
#relative{
position: relative;
left:100%;
top: -22px;
width: 4vw;
height: 4vw;
}
}

@media (max-width: 767px){
  .navbar-brand h1{
  padding-top: -10px;
  font-size: 4.2vw;   /*1vw=1% of viewport*/
  left: 10px;
}
/*#header-nav {
    height: 110px;
  }*/
#logo-img{
  height: 110px;
  width:145px;
   margin-right: -80px;
   background: url('../images/original6black.jpg') no-repeat;
}
.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -85px;
}
#collapsable-nav a{
  font-size: 1.2em;
}
#collapsable-nav a span{
  font-size: 1em;
  margin-right: 10px;
}
#relative{
position: absolute;
left: 48.5%;
top: 105px;
width: 4vw;
height:4vw;
}
}
#seperation{
  height:3px;
  width:48.5vw;
  background-color: #000;
  margin-top: -20px;

}
#seperation2{
  height:5px;
  width:47.5vw;
  background-color: #000;
  margin-top: -20px;
  float: right;
  padding-top: 20px;
}
